@font-face {
  font-family: "TaubSans-Super";
  font-style: normal;
  font-weight: normal;
  src: local("TaubSans-Super"), url("fonts/TaubSans-Super.woff") format("woff");
}
@font-face {
  font-family: "TaubSans-Medium";
  font-style: normal;
  font-weight: normal;
  src: local("TaubSans-Medium"), url("fonts/TaubSans-Medium.woff") format("woff");
}
@font-face {
  font-family: "TaubSans-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("TaubSans-Regular"), url("fonts/TaubSans-Regular.woff") format("woff");
}
h1 {
  font-family: "TaubSans-Super";
  text-transform: uppercase;
  color: #26328c;
  font-size: 50px;
}

h2 {
  font-family: "TaubSans-Medium";
  text-transform: uppercase;
  color: #ed645e;
  font-size: 30px;
}

p {
  font-family: "TaubSans-Regular";
  color: #000;
  font-size: 18px;
  line-height: 38px;
}

strong {
  font-family: "TaubSans-Medium";
}

ul {
  padding-left: 20px;
}
ul li {
  font-family: "TaubSans-Regular";
  color: #000;
  font-size: 18px;
  line-height: 38px;
}

body {
  margin: 0;
}

header {
  background-color: #26328c;
}
header .header-wrapper .logo {
  height: 110px;
  padding-top: 15px;
  padding-bottom: 15px;
}
header .header-wrapper .btn-holder {
  margin-top: 50px;
}
header .header-wrapper .btn-holder .header-btn {
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #fff;
  margin-right: 10px;
  font-family: "TaubSans-Medium";
  text-decoration: none;
  text-align: center;
}
header .header-wrapper .btn-holder .header-btn:hover {
  background-color: #fff;
  color: #26328c;
  transition: 0.4s;
}
header .header-wrapper .header-head {
  margin-left: 30px;
  padding-top: 10px;
  height: 120px;
}

.lower-header {
  background-color: #26328c;
  text-align: center;
  height: 60px;
  border-top: 2px solid #fff;
}
.lower-header p {
  color: #fff;
  margin: 0;
  padding: 10px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 15px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header-wrapper a {
    width: 40%;
  }
  .header-wrapper a .logo {
    height: auto;
    width: 100%;
  }
  .header-wrapper .right {
    width: 40%;
  }
  .header-wrapper .right .btn-holder {
    margin-top: 20px;
  }
  .header-wrapper .right .btn-holder .header-btn {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  .header-wrapper .right .header-head {
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .flex {
    flex-wrap: wrap;
  }

  .header-wrapper a {
    width: 50%;
  }
  .header-wrapper a .logo {
    height: auto;
    width: 100%;
  }
  .header-wrapper .right {
    width: 40%;
  }
  .header-wrapper .right .btn-holder {
    margin-top: 30px;
  }
  .header-wrapper .right .btn-holder .header-btn {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  .header-wrapper .right .header-head {
    display: none;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .flex {
    flex-wrap: wrap;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
.welcome-wrapper {
  position: relative;
  margin-top: 5%;
}
.welcome-wrapper .border-left {
  position: absolute;
  height: 140px;
}
.welcome-wrapper .welcome-content-wrapper {
  margin-top: 50px;
}
.welcome-wrapper .welcome-content-wrapper .welcome-content {
  padding-top: 1px;
  padding-left: 50px;
  padding-right: 50px;
}
.welcome-wrapper .welcome-content-wrapper .welcome-content a {
  text-decoration: none;
}
.welcome-wrapper .welcome-content-wrapper .welcome-content a:hover {
  transition: 0.4s;
}
.welcome-wrapper .border-right {
  position: absolute;
  height: 140px;
  right: 0;
  bottom: -60px;
}

.columns-wrapper .content {
  padding: 20px;
}
.columns-wrapper img {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.columns-wrapper .la-grand {
  width: 50%;
  border: 1px solid #fff;
}
.columns-wrapper .focus {
  width: 50%;
  border: 1px solid #fff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .flex {
    flex-wrap: wrap;
  }

  .header-wrapper .logo {
    width: 50%;
    height: auto;
  }
  .header-wrapper .header-head {
    width: 40%;
    height: auto;
  }

  .columns-wrapper .content {
    padding: 20px;
  }
  .columns-wrapper img {
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: auto;
  }
  .columns-wrapper .la-grand {
    width: 100%;
    border: 1px solid #fff;
  }
  .columns-wrapper .focus {
    width: 100%;
    border: 1px solid #fff;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .flex {
    flex-wrap: wrap;
  }

  .header-wrapper .logo {
    width: 50%;
  }

  .columns-wrapper .content {
    padding: 20px;
  }
  .columns-wrapper img {
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: auto;
  }
  .columns-wrapper .la-grand {
    width: 100%;
    border: 1px solid #fff;
  }
  .columns-wrapper .focus {
    width: 100%;
    border: 1px solid #fff;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .flex {
    flex-wrap: wrap;
  }

  .columns-wrapper .content {
    padding: 20px;
  }
  .columns-wrapper img {
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: auto;
  }
  .columns-wrapper .la-grand {
    width: 49%;
    border: 1px solid #fff;
  }
  .columns-wrapper .focus {
    width: 49%;
    border: 1px solid #fff;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .columns-wrapper .content {
    padding: 20px;
  }
  .columns-wrapper img {
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: auto;
  }
  .columns-wrapper .la-grand {
    width: 49%;
    border: 1px solid #fff;
  }
  .columns-wrapper .focus {
    width: 49%;
    border: 1px solid #fff;
  }
}
.la-grand {
  margin-top: 50px;
}
.la-grand .col-1 {
  width: 40%;
}
.la-grand .col-2 {
  width: 50%;
  text-align: right;
}
.la-grand .focus .dates-holder .december {
  width: 90%;
  margin-left: auto;
}
.la-grand .dates-holder {
  display: flex;
  justify-content: space-between;
}
.la-grand .dates-holder .october {
  width: 48%;
}
.la-grand .dates-holder .october p {
  text-align: center;
  background-color: #ed645e;
  padding: 10px;
}
.la-grand .dates-holder .october .btn {
  background-color: transparent;
  border: 2px solid #26328c;
  font-family: "TaubSans-Medium";
}
.la-grand .dates-holder .december {
  width: 48%;
}
.la-grand .dates-holder .december p {
  text-align: center;
  background-color: #ed645e;
  padding: 10px;
}
.la-grand .dates-holder .december .date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.la-grand .dates-holder .december .date .time {
  padding: 0;
  background-color: transparent;
  margin: 0;
}
.la-grand .dates-holder .december .date .register {
  border: 2px solid #26328c;
  padding: 10px;
  font-family: "TaubSans-Medium";
  text-decoration: none;
  color: #26328c;
  width: 40%;
  text-align: center;
}

footer {
  margin-top: 100px;
}
footer .adp-wrapper .adp-logo {
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 30px;
  height: 150px;
}
footer .adp-wrapper .shapes {
  flex-wrap: 70%;
  height: 200px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  footer {
    margin-top: 100px;
  }
  footer .flex {
    flex-wrap: nowrap;
  }
  footer .adp-wrapper .adp-logo {
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 30px;
    height: 100px;
    flex-basis: 10%;
  }
  footer .adp-wrapper .shapes {
    flex-wrap: 70%;
    height: auto;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  footer {
    margin-top: 100px;
  }
  footer .flex {
    flex-wrap: nowrap;
  }
  footer .adp-wrapper .adp-logo {
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 30px;
    height: auto;
    flex-basis: 10%;
  }
  footer .adp-wrapper .shapes {
    flex-wrap: 70%;
    height: auto;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  footer {
    margin-top: 100px;
  }
  footer .flex {
    flex-wrap: nowrap;
  }
  footer .adp-wrapper .adp-logo {
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 30px;
    height: auto;
    flex-basis: 10%;
  }
  footer .adp-wrapper .shapes {
    flex-wrap: 70%;
    height: 180px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */

/*# sourceMappingURL=css.css.map */
