@import url("https://use.typekit.net/mdy2lqd.css");
h1 {
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  color: #005480;
}

h2 {
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: #e4602b;
}

h3 {
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  color: #005480;
}

p {
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

body {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .flex {
    flex-wrap: wrap;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .flex {
    flex-wrap: wrap;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  border-bottom: solid 2px #005480;
}
header .header-logo {
  height: 60px;
  padding: 10px 0;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
}
.nav ul li {
  padding: 5px 15px;
  cursor: pointer;
  margin-top: 15px;
}
.nav ul a {
  text-decoration: none;
  color: #005480;
}
.nav ul a:hover {
  color: #e4602b;
  transition: 0.4s;
}

/* Style the menu link */
.js .nav .skip {
  color: #005480;
  position: absolute;
  right: 1em;
  top: 20px;
  overflow: hidden;
  width: 50px;
  height: 2.5em;
  text-align: center;
  line-height: 2.5em;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-family: myriad-pro, sans-serif;
}
.js .nav .skip:hover {
  transition: 0.4s;
}

/* Hide and position the closed .nav ul */
.js .nav ul {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  right: 1em;
  top: 3.5em;
  transition: max-height 1s ease-out;
}

/* Style the list items to appear under the menu link */
.js nav li {
  text-align: right;
}

/* Style the list item links for ease of touch on small screens */
.js nav li a {
  padding: 0.5em;
  display: block;
}

/* Give the .nav ul a height when it's been opened, i.e. make it show */
.js .nav ul.open {
  max-height: 70em;
}

/* navigation end */
/* On screens larger than 1200px, remove the menu link and display all menu items */
@media screen and (min-width: 800px) {
  .js .nav ul {
    width: 100%;
    overflow: auto;
    max-height: inherit;
    position: static;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
  }

  .js .nav li {
    text-align: left;
    display: inline-block;
    border-top: 0;
  }

  .js .nav li:last-child {
    border: 0;
  }

  .js .nav .skip {
    display: none;
    visibility: hidden;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .js .nav ul {
    right: 0px;
    width: 100%;
    margin-top: 20px;
    background-color: #005480;
  }

  .js .nav li {
    padding: 15px 20px;
    margin-top: 0;
    border-bottom: 1px solid #fff;
  }
  .js .nav li a {
    color: #fff;
  }
  .js .nav li a:hover {
    color: #e4602b;
  }

  .js nav li {
    text-align: right;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .js .nav ul {
    right: 0px;
    width: 100%;
    margin-top: 20px;
    background-color: #005480;
  }

  .js .nav li {
    padding: 15px 20px;
    margin-top: 0;
    border-bottom: 1px solid #fff;
  }
  .js .nav li a {
    color: #fff;
  }
  .js .nav li a:hover {
    color: #e4602b;
  }

  .js nav li {
    text-align: right;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .js .nav ul {
    right: 0px;
    width: 100%;
    margin-top: 15px;
  }

  .js .nav li {
    margin-top: 0;
  }

  .js nav li {
    text-align: right;
  }
}
.welcome {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
.welcome a {
  color: #e4602b;
  text-decoration: none;
}
.welcome .col-1 {
  width: 48%;
}
.welcome .col-2 {
  width: 48%;
}
.welcome .col-2 img {
  width: 100%;
  height: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .welcome {
    flex-wrap: wrap;
    margin-top: 100px;
  }
  .welcome .col-1, .welcome .col-2 {
    width: 100%;
  }
}
.agenda {
  margin-top: 150px;
}
.agenda .agenda-holder .agenda-session {
  display: flex;
  justify-content: flex-start;
}
.agenda .agenda-holder .agenda-session .time {
  width: 15%;
  margin-right: 30px;
}
.agenda .agenda-holder .agenda-session .session {
  width: 90%;
}
.agenda .agenda-holder .agenda-session .session .session-name {
  margin-bottom: 0;
  color: #e4602b;
}

.chatroom {
  margin-top: 150px;
}

.stream {
  margin-top: 150px;
}
.stream .video-wrapper {
  flex-basis: 67%;
}
.stream .chat-wrapper {
  text-align: center;
  width: 30%;
  margin: -20px;
}

.contact {
  margin-top: 150px;
}
.contact .contact-wrapper {
  display: flex;
  margin-bottom: 40px;
}
.contact .contact-wrapper .contact-info {
  margin-left: 30px;
}
.contact .contact-wrapper .contact-info .name {
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
}
.contact .contact-wrapper .contact-info .title {
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  color: #e4602b;
}
.contact .contact-wrapper .contact-info .contact-type {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.contact .contact-wrapper .contact-info .contact-type img {
  height: 25px;
}
.contact .contact-wrapper .contact-info .contact-type h3 {
  margin: 0;
  padding-left: 10px;
}
.contact .contact-wrapper .contact-info .contact-type h3 a {
  color: #e4602b;
  text-decoration: none;
}
.contact h2 {
  color: #005480;
}
.contact .fe .contact-info {
  margin-left: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .contact .contact-wrapper {
    flex-wrap: wrap;
  }
  .contact .contact-wrapper .contact-info {
    margin-left: 0;
  }
  .contact .contact-wrapper .contact-info .contact-type img {
    height: 20px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .flex {
    flex-wrap: wrap;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .flex {
    flex-wrap: wrap;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
.other-news {
  margin-top: 150px;
}
.other-news .col-1 {
  width: 48%;
}
.other-news .col-2 {
  width: 48%;
}
.other-news .news-wrapper a {
  color: #e4602b;
  text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .flex {
    flex-wrap: wrap;
  }

  .other-news .col-1 {
    width: 100%;
  }
  .other-news .col-2 {
    width: 100%;
  }
}
footer {
  margin-top: 50px;
  height: 50px;
  background-color: #e4602b;
}
footer p {
  padding-top: 15px;
  color: #fff;
}
footer p a {
  color: #fff;
  text-decoration: none;
}

/*# sourceMappingURL=css.css.map */
