footer {
    margin-top: 100px;
    .adp-wrapper {
        .adp-logo {
            margin-top: 50px;
            margin-left: 30px;
            margin-bottom: 30px;
            height: 150px;
        }

        .shapes {
            flex-wrap: 70%;
            height: 200px;
        }
    } 
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    footer {
        .flex {
            flex-wrap: nowrap;
        }
        margin-top: 100px;

        .adp-wrapper {
            .adp-logo {
                margin-top: 50px;
                margin-left: 0;
                margin-bottom: 30px;
                height: 100px;
                flex-basis: 10%;
            }

            .shapes {
                flex-wrap: 70%;
                height: auto;
            }
        } 
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) 
and (max-width: 768px) {
    footer {
        .flex {
            flex-wrap: nowrap;
        }
        margin-top: 100px;

        .adp-wrapper {
            .adp-logo {
                margin-top: 50px;
                margin-left: 0;
                margin-bottom: 30px;
                height: auto;
                flex-basis: 10%;
            }

            .shapes {
                flex-wrap: 70%;
                height: auto;
            }
        } 
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
and (max-width: 991px) {
    footer {
        .flex {
            flex-wrap: nowrap;
        }
        margin-top: 100px;

        .adp-wrapper {
            .adp-logo {
                margin-top: 50px;
                margin-left: 0;
                margin-bottom: 30px;
                height: auto;
                flex-basis: 10%;
            }

            .shapes {
                flex-wrap: 70%;
                height: 180px;
            }
        } 
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px)
and (max-width: 1200px) {

}