.other-news {
    margin-top: 150px;

    .col-1 {
        width: 48%;
    }

    .col-2 {
        width: 48%;
    }

    .news-wrapper {
        a{
            color: $orange;
            text-decoration: none;
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .flex {
        flex-wrap: wrap;
    }
    .other-news {
        .col-1 {
            width: 100%;
        }   

        .col-2 {
            width: 100%;
        }
    }
}