.welcome {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;

    a {
        color: $orange;
        text-decoration: none;
    }
    .col-1 {
        width: 48%;
    }

    .col-2 {
        width: 48%;
        img {
            width: 100%;
            height: auto;
        }
    }
}