@import url("https://use.typekit.net/mdy2lqd.css");

h1 {
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    color: $blue;
}

h2 {
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    color: $orange;
}

h3 {
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
    color: $blue;
}

p {
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}